p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.tutorial-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.tutorial-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chat-config {
  height: calc(100vh - 16em);
  overflow-y: scroll;
}

.ex1 .center {
  display: grid;
  place-items: center;
}

div.flex-container {
  flex: 1;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.avatar-helper {
  padding-top: 10px;
  padding-right: 10px;
}

.fa-small {
  font-size: 16px !important;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.primary-color {
  color: #3484ff;
}

.primary-color-background {
  background-color: #3484ff;
}

.secondary-color {
  color: #2a9fec;
}

.secondary-color-background {
  background-color: #2a9fec;
}

.tertiary-color {
  color: #1cd3c5;
}

.tertiary-color-background {
  background-color: #1cd3c5;
}

#google-login {
  background: url('images/GoogleLogin.png') no-repeat;
}

#google-login:hover {
  background: url('images/GoogleLoginHover.png') no-repeat;
}
